
<section class= "container">
   <mat-card class="profile">
       <mat-card-title style="font-size: 200%;">  Your Profile  </mat-card-title>


       <mat-card-content id="name">
           <div>
           <h1 id="hi">Hi {{userData.username}}</h1>
           <br>
           Your Name : <i>{{userData.name}}</i>
           <br>
           <br>
           </div>
           <div class="email">
           Your Email : <i>{{userData.email}}</i>
        </div>
         <br>
       
       <div id="chip">
           <h3 id="preferred">Your preferred categories</h3>
                <mat-chip-list aria-label="your interests" style="margin: auto">
                        <div style="margin: auto">
                        <mat-chip color="primary" *ngFor="let interests of userData.newsPreferences"
                        [routerLink]="['/category', interests]" selected>{{interests}}
                        </mat-chip>
                        <!-- <mat-chip color="accent" selected>Accent fish</mat-chip> -->
                    </div>
                    </mat-chip-list>
                    </div>
          
                </mat-card-content>
   </mat-card>

</section>


