
<mat-toolbar color='primary' class = "footer">
        <button mat-icon-button class="icon-button" routerLink="/trending">
            <mat-icon aria-hidden="false" aria-label="logo" svgIcon="logo"></mat-icon>
        </button>
        <span class='spacer'></span>
          <p class = "copyright">NewsZoid© 2019</p>
        <span class='spacer'></span>
        <!-- <a href="https://newszoid.wtf/app-debug.apk" style="padding-right: 15px; color: white;font-size: 15px;">download our app!</a>  -->
        <a href="https://newszoid.wtf/app-debug.apk" style="padding-right: 15px; color: white;" id = "icons"><i class="fa fa-android" aria-hidden="true" matTooltip="Download our app!"></i></a>
        <i class="fa fa-facebook" aria-hidden="true" style="padding-right: 15px" id = "icons"></i>
        <i class="fa fa-instagram" aria-hidden="true" style="padding-right: 15px" id = "icons"></i>
        <i class="fa fa-linkedin-square" aria-hidden="true" style="padding-right: 15px" id = "icons"></i>
      </mat-toolbar>